*{
    box-sizing: border-box;
    
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    
}
.navbar{
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background-color: #92BCB5;
    margin-top: -8px;
    margin-left: -8px;
   

    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}
 .navlinks li{
    display: inline-block;
    font-size: 16px;
    /* border: 1px solid black;
    */
   
    
   
}
 .navlinks li:hover{
    /* background-color: black; */
    color: aliceblue;
    
    border-radius: 5px;
}

 .navlinks li a{
    color: Black;
    margin-right: 3.5rem;
}
.navlinks li a:hover{
    color: white;
    margin-right: 3.5rem;
    /* font-style: italic; */
    font-variant-caps: titling-caps;
    font-weight: bold;
}
.name{
    color: black;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.name:hover{
    color: white;
    margin-right: 3.5rem;
    /* font-style: italic; */
    font-variant-caps: titling-caps;
    font-weight: bold;
    font-size: 30px;
}
.home{
    background: url(https://gauravportfolio0083.netlify.app/images/bg.jpg) no-repeat center;

    display: flex;
    background-color: #111;
    height: 100vh;
    margin-left: -8px;
    width: 219vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
}

.about{
    /* border: 2px solid green; */
    height: 250px;
    width: 400;
    position: relative;
    margin-top: -20rem;
    color: #fff;
    margin-left: 8rem;
    margin-top: -23rem;
}
.about2{
    border: 1px solid rgb(208, 215, 216);
    height: 450px;
    width: auto;
    margin-top: 9.5rem;
    background-color: rgb(208, 215, 216);
    padding: 20px;
   
    

}
.abt{
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: wavy;
    width: 180px;
    align-items: center;
    margin:2rem 0 5rem 28rem;
    padding: 10px 20px 10px 20px;
    background-color: rgb(20, 14, 14);
    color: rgb(252, 250, 250);
    border-radius: 15px;
    
}
.loremw{
    height: 130px;
    width: 35rem;
    /* border: 1px solid brown; */
    
    
    font-size: 14px;
    line-height: 20px;
    word-spacing: 1px;
}
.loremw:hover{
   
    color: rgb(144, 52, 52);
}
.middle-div{
display: flex;
justify-content:space-around;
}
.my-image{
    border-radius: 100px;
    border: 2px solid pink;
}
.hello{
    font-size: 27px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.engnr{
    font-weight: 600;
    font-size: 60px;
    margin-left: -3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skills{
    /* border: 2px solid pink; */
    height: 530px;
    width: auto;
    /* margin-top: 7.5rem; */
    padding: 10px;
    background-color: rgb(28, 29, 30);
    color: rgb(7, 7, 7);
    padding: 10px;
    margin-top: 2rem;
    padding-right: 20px;
   
    /* margin: auto; */
     

    
  
}
.skills h2{
    padding-bottom: 3rem;
    padding-top: 2rem;
    text-align: center;
    color: white;
   
}
.box{
    height: 120px;
    width: 150px;
    border: 1px solid black;
    background-color: aliceblue;
    margin: auto;
    padding: 10px;
    border-radius: 15px;

}
.ft{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    width:620;
    margin: auto;
    margin-bottom: 60px;
}
.lt{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    width:760px;
    margin: auto;
}
.projects{
    border: 2px solid yellow;
    height: 200px;
    width: auto;
    margin-top: 10rem;
}
.contact{
    border: 2px solid brown;
    height: 200px;
    width: auto;
}
/* .div-header{
    width: 100%;
    height: 100%;
    min-height: 100v;
    
   

     
}
.navbar{

    width: 1280px;
    max-width:95% ;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}
header{
    
    margin-top: -800px;
    
    

    
padding: 40px 0 30px;
height: 140px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 16px;
flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;

} */
/* .logo i{
    height: 45px;
    width: 45px;
    color: black;
    font-weight: 700;
    font-size: 1.5 rem;
    margin-top: -70px;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    margin-top: -5rem;
    color: black;
}
nav .togglebutton{
   width: 35px;
   height: 35px;
   position: absolute;
   top: 45px;
   right: 3%;
   z-index: 5;
   cursor: pointer;
   display: none;
}
nav .togglebutton span{
    display: block;
    background-color: rgb(118, 118, 239); 
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;


}
nav .navlinks{
    list-style-type: none;
    margin-top: -3rem;

}
nav .navlinks li{
    display: inline-block;
    font-size: 16px;
}
nav .navlinks li:hover{
    background-color: rgb(196, 188, 188);
    
    border-radius: 5px;
}

nav .navlinks li a{
    color: Black;
    margin-right: 3.5rem;
}
.container{
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    

} */
/* .container .pic{
width: 300px;
height: 300px;
border-radius: 50%;
overflow: hidden;
border: 15px 7px 25px rgba(0,0,0,0.5);
border: 7px solid grey;

}


.pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
    
}
.pic img:hover{
    transform: scale(1.2);
}
.sumary-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.sumary-text h5{
   color: white;
   font-size: 14px; 
}
.sumary-text h5 span{
    color: rgb(46, 31, 245);
    font-size: 16px;
}
.sumary-text h1{
    color: rgb(13, 13, 13);
    font-size: 3rem;
}
.sumary-text p{
    color: white;
} */