*{
    box-sizing: border-box;
    
    font-family: poppins,sans-serif;
    text-decoration: none;
}

    

.wrapper{
    width: 100%;
    border: 5px solid red;
    height: auto;
}
.navbar{
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background-color: #92BCB5;
    margin-top: -13px;
    margin-left: -8px;
   

    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}
 .navlinks li{
    display: inline-block;
    font-size: 16px;
    /* border: 1px solid black;
    */
   
    
   
}
 .navlinks li:hover{
    /* background-color: black; */
    color: aliceblue;
    
    border-radius: 5px;
}

 .navlinks li a{
    color: Black;
    margin-right: 3.5rem;
}
.navlinks li a:hover{
    color: white;
    margin-right: 3.5rem;
    /* font-style: italic; */
    font-variant-caps: titling-caps;
    font-weight: bold;
}
/* .navlinks button{
    border: none;
    background: none;
    color: inherit;
    color: black;
} */
.btn-res{
    display: inline-flex;
    align-items: center;
    color: white;
    border: none;
    background: none;
}
.name{
    color: black;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.name:hover{
    color: white;
    margin-right: 3.5rem;
    /* font-style: italic; */
    font-variant-caps: titling-caps;
    font-weight: bold;
    font-size: 30px;
}
.home{
    background: url(https://gauravportfolio0083.netlify.app/images/bg.jpg) no-repeat center;

    display: flex;
    background-color: #111;
    height: 100vh;
    margin-left: -8px;
    width: 219vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
}

.about{
    /* border: 2px solid green; */
    height: 250px;
    width: 400;
    position: relative;
    margin-top: -20rem;
    color: #fff;
    margin-left: 8.6rem;
    margin-top: -23rem;
}
.about2{
    border: 1px solid rgb(208, 215, 216);
    height: 450px;
    width: auto;
    margin-top: 8rem;
    background-color: rgb(208, 215, 216);
    padding: 20px;
   
    

}
.abt{
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: wavy;
    width: 180px;
    align-items: center;
    margin:2rem 0 5rem 28rem;
    padding: 10px 20px 10px 20px;
    background-color: rgb(20, 14, 14);
    color: rgb(252, 250, 250);
    border-radius: 15px;
    
}
.loremw{
    height: 130px;
    width: 35rem;
    /* border: 1px solid brown; */
    
    
    font-size: 14px;
    line-height: 20px;
    word-spacing: 1px;
}
.loremw:hover{
   
    color: rgb(144, 52, 52);
}
.middle-div{
display: flex;
justify-content:space-around;
}
.my-image{
    border-radius: 100px;
    border: 2px solid pink;
}
.hello{
    font-size: 27px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.engnr{
    font-weight: 600;
    font-size: 60px;
    margin-left: -3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skills{
    /* border: 2px solid pink; */
    height: 610px;
    width: auto;
    /* margin-top: 7.5rem; */
    padding: 10px;
    background-color: rgb(28, 29, 30);
    color: rgb(7, 7, 7);
    padding: 10px;
    /* margin-top: 2rem; */
    padding-right: 20px;
   
    /* margin: auto; */
     

    
  
}
.skills h2{
    padding-bottom: 3rem;
    padding-top: 2rem;
    text-align: center;
    color: white;
   
}
.box{
    height: 120px;
    width: 150px;
    border: 1px solid black;
    background-color: aliceblue;
    margin: auto;
    padding: 10px;
    border-radius: 15px;

}
.box h3{
    text-align: center;
    color: white;
}
.ft{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    width:620;
    margin: auto;
    margin-bottom: 100px;
}
.lt{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    width:800px;
    margin: auto;
}
.projects{
    /* border: 2px solid yellow; */
    height: auto;
    width: auto;
    margin-top: 7.1rem;
    background-color: rgb(228, 245, 245);
    align-items: center;
    padding: 40px;
    margin-top: 8rem;
}
.projects h1{
    text-align: center;
    height: 40px;
    width: 130px;
    /* border: 1px solid black; */
    margin: auto;
    margin-bottom: 30px;
    background-color: #111;
    color: white;
    border-radius: 5px;
    margin-top: 2rem;
    
    
}
.projects h1:hover{
    margin-top: 1rem;
background-color: #121111;
color: white;

}
.project-card{
/* border: 2px solid black; */
height:250px;
width:900px;
display: flex;
padding: 20px;
justify-content: space-between;
background-color: #406d67;
border-radius: 20px;
margin: auto;
margin-bottom: 40px;
}
.left{
    border: 10px solid rgb(14, 80, 141);
    width: 37%;
    border-radius: 20px;
    object-fit: cover;
 
   
    transition: all 0.3s ease;
}
   
    .left img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    }
.right{
    /* border: 10px solid  blue; */
    width: 58%;
    background-color: rgb(79, 71, 71);
    color: white;
   
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
}

.right button{
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
    background-color: rgb(169, 231, 231);
    border-radius: 7px;
}

/* .button-div{
    display: flex;
} */
.contact{
    /* border: 2px solid brown; */
    height: auto;
    width: auto;
    background-color: #fdfafa;
    padding: 40px;
   
}
.contact h1{
    text-align: center;
    
    /* border: 1px solid black; */
    margin: auto;
    margin-bottom: 3rem;
    
    text-transform: uppercase;
    margin-top: 1rem;
    /* background-color: #fdfafa; */
    background-color: #121111;
    color: white;
    padding: 15px;
    border-radius: 10px;
    
}
/* .contact h1:hover{
        margin-top: 1rem;
    background-color: #121111;
    color: white;
    
} */
.contact-list{
    display: flex;
    justify-content: center;
}
.c{
    height: 120px;
    width: 120px;
    /* border: 1px solid chocolate; */
    margin-left: 2rem;
    margin-bottom: 4rem;
    

}
.c img{
    height: 120px;
    width: 120px;
}
/* interactive design */

/* @media (max-width:900px){
    .navbar .navlinks,
    .navbar .btn-res {
        display:none
    }
    .home  img{
max-width:auto;      

    }
}
@media (max-width:750px){
    .navbar .home
    .navbar .btn-res {
        display:none
    }
    .navlinks {
        display: flex;
    }
} */
@media all and (min-width:751px) and (max-width:900){
    .navbar .navlinks,
    .navbar .btn-res {
        display:none
    }
    .home  img{
max-width:auto;      

    }
}
@media all and (min-width:751px) and (max-width:900){
    .navbar .navlinks,
    .navbar .btn-res {
        display:none
    }
    .home  img{
max-width:auto;      

    }
}
@media all and (min-width:751px) and (max-width:900){
    .navbar .navlinks,
    .navbar .btn-res {
        display:none
    }
    .home  img{
max-width:750px;   
height: auto;   

    }
    .middle-div{
        width: 750px;
        display: flex;
    }
    .my-image{
        width: 200px;
        height: auto;
    }
}
@media all and (min-width:300px) and (max-width:750){
    .navbar .navlinks,
    .navbar .btn-res {
        display:none
    }
    .home  img{
max-width:250px;      

    }
}