


* {

  font-family: Georgia, 'Times New Roman', Times, serif;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


#main{
  border: 3px solid white;
}


.Navbar {
  width: 100%;
  
  align-items: center;
  
  padding: 15px 0;
  
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  
  background-color: rgb(240, 203, 17);
  position: fixed;
 
}

.Navbar  >.logo {
  position: relative;
  text-align: center;
  
  font-weight: bold;
}
.sticky {
  background-color: white;
}



.Navbar >.logo>a {
  text-decoration: none;
  color: #080214;
  font-size: 24px;
  border: 1px solid transparent;
  padding: 5px 8px;
  
  
}





.Navbar > ul > li {
  list-style: none;

}
.Navbar >.logo>a:hover {
  border-radius: 10px;
  background-color: #f4f806;
 
}
.Navbar >ul {
  
  
  align-items: center;
  position: relative;
  display: flex;
  width: 70%;
  justify-content: space-evenly;

}

.Navbar >ul>li>a {
  font-weight: bold;
  font-size: 22px;
  color: #070707;
  
  border: 1px solid transparent;
  padding: 5px 8px;
 
  
  transition: all 2s ease;
  text-decoration: none;
}

.Navbar > ul > li > a:hover {
  border-bottom: 1px solid rgb(32, 31, 31);
  background-color: #f4f806;
  border-radius: 10px;
}


/* CSS FOR HAM ICON */



.hamicon>button {
 
  border-radius: 7px;
  right: 10px;
  top: 10px;
  border: none;
  padding: 5px 8px;
  position: absolute;



}
.hamicon {
  background-color: #1a1919;
  width: 100%;
  position: sticky;
  top: 0;
  color: white;
  text-align: left;
  display: none;
  padding: 30px 0;
}



.hamicon >a{
 
  background-color: #fff;
  color: #f0ebeb;
  padding: 10px;
  margin-left: 8px;
  background-color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 12px;
  
  font-weight: 550;
  border-radius: 8px;


}

.burger {
  width: 100%;
  padding: 20px 0;
  text-align: left;
  
  top: 0;
  background-color: #000;
  
  display: none;
  position: absolute;
  height: 300px;

}




.hamburger>button>i {
  font-size: 28px;

}

.burger>button {
 
  border: none;
  
  padding: 8px 12px;
  
  z-index: 10;
  right: 10px;
  top: 10px;
  border-radius: 7px;
  position: absolute;
}

.burger > ul {

  margin: 50px 0;
 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  
}

.burger>ul>li {
  padding: 6px 0;
  border: 1px solid #fff;
  width: 100%;
  margin: 8px 0;
}



.burger > ul > li > a {
  color: #fff;
  text-decoration: none;
  
}



/* CSS FOR CROSS CLASS */


.burger>button>i {
  color: #000;
  font-size: 20px;

  
}

/* CSS FOR ABOUT */
.home {
  padding: 170px 160px;
  background: black;
 
  width: 100%;

}


.hometext>h3>span,
.hometext>h1>span {
  color: rgb(244, 210, 16);
  letter-spacing: 1px;
  word-spacing: 2px;
}

.hometext>h3,
.hometext>h1 {
  margin: 0 0 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.5px;
}
.hometext{
  color: white;
  text-align: center;
}

.hometext>h1 {
  line-height: 1.5;
 
}
.hometext>h3>span{
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



/* CSS FOR ABOUT */



.info {
  background-color: rgb(194, 219, 231);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 110px;
  padding: 1.5rem;
  /* border: 1px solid red; */
  
}

.summary {
  width: 70%;
 
  padding: 2rem;

  line-height: 1.5;
  border-radius: 10px;
  /* border: 1px solid red; */
}
.summary > h1{
  padding-bottom: 20px;
  color: #040745;
}


.my-image {
  width: 30%;
 
 padding: 2rem;

  height: 30%;
  /* border: 1px solid red; */
  
}


.summary>p {
  line-height: 1.4;
  font-size: 18px;
}


.my-image > img {
  width: 100%;
  border-radius: 30%;
  
  height: 100%;
}








/* CSS FOR SKILLS */



.skills_section {
  width: 100%;
  background-color: rgb(14, 13, 13);
  padding: 30px 0 60px;
 
}

.title {
  text-align: center;

  padding: 1.5rem 0;

}

.title>h1 {
  margin: 30px 0;
  color: rgb(242, 236, 236);
  text-decoration-line: underline;
  
}




.slogos {
  
  margin: auto;
  display: grid;
  width: 70%;
  
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);

}



.slogos>div {
  
  padding: 10px;
  
  border-radius: 8px;
  display: flex;
  
  background-color: rgb(252, 249, 249);
  justify-content: space-between;
  flex-direction: column;
}

.slogos > div > img {
  width: 100%;
  border-radius: 5px;

  padding: 15px;


}

.slogos>div>p {
  text-align: center;
  
  color: rgb(14, 13, 12);
  padding: 5px;
  font-weight: 700;
  font-size: 18px;

}

.sslogos {
  width: 50%;
  margin: auto;
  display: grid;
 
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}


.sslogos>div>p {
  text-align: center;
  font-size: 18px;
  color: rgb(14, 13, 12);
  padding: 5px;
  font-weight: 700;

}

.sslogos>div {
  padding: 10px;
  
  border-radius: 8px;

  display: flex;

  flex-direction: column;
  background-color: rgb(252, 249, 249);
  justify-content: space-between;

}



.sslogos>div>img {
  width: 100%;
  border-radius: 5px;

  padding: 15px;
}

/* CSS FOR PROJECT */

.projects_section {
  background-color: rgb(216, 214, 202);
  padding: 77px 0;
 


}
.pcard {
  display: flex;
  width: 70%;
  margin: 40px auto;
  background-color: rgb(46, 44, 44);
  
  border-radius: 25px;

  height: 250px;
  padding: 25px;
}

.projects_section>div>h1 {
  text-align: center;
  color: rgb(5, 16, 68);
  text-decoration-line: underline;
}



.img_part {
  width: 45%;
}

.img_part>img {
  width: 100%;
  
  height: 100%;
  border-radius: 15px;
 
}

.details {
  width: 50%;
  color: whitesmoke;
  
  padding: 5px 30px;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  justify-content: space-evenly;

  
 
}

.b-d > a {
  text-decoration: none;
  color: rgb(6, 6, 6);
  
 
  border-radius: 7px;
  display: inline-block;
  width: 100px;
  padding: 5px 25px;
  margin-top: 0.5rem;
  background-color: rgb(249, 229, 2);
  text-align: center;
 
 
}



/*CSS FOR CONTACT */



.contacts h1 {
  text-align: center;
  padding: 25px 0;
  color: rgb(245, 245, 245);
  text-decoration-line: underline;
}
.contacts{
  background-color: #000;
}

.cdetails {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
 
 justify-content: center;
  align-items: flex-start;
  
gap: 1.5rem;
background-color: #000;

  border-radius: 10px;
  padding: 60px;
  
}
.cdetails > a{
  text-decoration: none;
  color: rgb(240, 203, 17);;
  font-size: 22px;
  
}

.pe,.lg {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 50px;
}

.pe a ,.lg a {
  text-decoration: none;
  font-size: 20px;
  color: #fff
}

.iconset {
  margin-right: 10px;

}


#name,
#subject ,

#email
{
 
  border-radius: 10px;

  padding: 10px;

}



#desc {
 

  font-size: 25px;

  margin: 30px 0;

  text-align: center;
}

/* hr {
  width: 90%;
  margin: auto;
 
  background-color: #000;
  margin-top: 35px;
} */